#editor-pane
  grid-area: editor
  line-height: 150%
  border-right: $default-border

#editor-pane main
  display: grid
  height: max-content
  grid-template-columns: 5rem auto
  overflow-x: hidden

#editor-gutter
  padding: 0.5rem 2.5rem 0.5rem 0.5rem
  height: max-content
  text-align: right
  border-right: $default-border

#editor-pane textarea
  all: unset
  position: relative
  padding: 0.5rem !important
  margin: 0 !important
  max-height: unset
  white-space: pre

#editor-pane textarea:focus-visible
  outline: none

#editor-pane > header
  text-align: left
  display: flex
  padding: 0 0.25em

#editor-pane > header > input
  transition-duration: 50ms
  height: 2rem
  width: 2rem
  vertical-align: top
  border: none
  padding: 0
  margin: 0.5rem 0.25rem
  position: relative
  top: 0
  &:enabled:hover
    transform: translateY(-0.1rem)
  &:enabled:active
    transform: translateY(0.1rem)
    filter: brightness(0.5)
  &:disabled
    filter: brightness(0.5)

#editor-pane .hints
  position: relative
  left: 2.9rem
  top: 0
  width: 0
  height: 0
  overflow: shown

#editor-pane .hints > span
  position: absolute
  display: inline-block
  margin-top: 0.25rem
  border-radius: 1rem
  height: 1rem
  width: 1rem
  text-align: center
  vertical-align: baseline
  line-height: 1rem
  user-select: none

.hints > .err
  color: #e44
  border: 1px solid #e44

.hints > .wrn
  color: #ee6
  border: 1px solid #ee6

.hints > .ext
  color: #e44
  border: 1px solid #e44

.hints > .inf
  color: #fff
  border: 1px solid #fff

#settings-btn
  z-index: 99
  background: url("image/settings.svg") center/100%

#build-btn
  background: url("image/build.svg") center/100%

#run-btn.run
  background: url("image/run.svg") center/100%

#run-btn.pause
  background: url("image/pause.svg") center/100%

#end-btn
  background: url("image/end.svg") center/100%

#save-btn
  background: url("image/save.svg") center/100%