#vm-view
  display: grid
  grid-template-areas: "mem con" "mem exe" "mem io"
  padding: 3rem
  gap: 3rem
  max-height: calc(100vh - 6rem)
  transition-duration: 120ms

#vm-view .pane
  border: $default-border
  min-height: 6rem
  min-width: 18rem

#vm-view .pane-grid
  display: grid
  text-align: center
  height: 100%
  align-items: center
  gap: 0.5rem
  padding: 1rem

#memory-pane
  grid-area: mem
  min-width: max-content !important

#control-pane
  grid-area: con

#control-pane main
  grid-template-columns: repeat(2, 1fr)
  span
    white-space: nowrap
  span:last-child
    grid-column: span 2

#execution-pane
  grid-area: exe

#execution-pane main
  grid-template-columns: repeat(3, 1fr)

#io-pane
  grid-area: io

#io-pane main
  grid-template-columns: repeat(2, 1fr)
  grid-auto-rows: min-content auto

.reg
  all: unset
  width: 4rem
  margin: 0
  padding: 0
  border: $default-border

.reg.reg-wide
  width: 8rem

#io-pane textarea
  all: unset
  font: inherit
  border: $default-border
  width: 4rem
  height: 4rem
  margin: 0
  padding: 0
  white-space: pre

#memory-pane main
  display: grid
  grid-auto-flow: column
  gap: 0 0.5rem
  grid-template-columns: repeat(4, 1fr)
  align-items: center
  height: 100%
  min-width: max-content
  overflow: auto

.memory-value
  min-width: max-content
  text-align: center
  color: $border-color

.memory-value input
  font: inherit
  background: transparent
  color: $border-color
  border: $default-border
  margin: 0 0.2rem
  padding: 0 0.1rem
  width: 3rem
  text-align: right
  &:focus-visible
    outline: none
  &.assigned
    color: $fg-color